div.menuMobile {
   padding: 10px;
 }

 .menu-bloco {
   display: flex;
   align-items: center;
 }

 .menuMobile button:active {
   background-color: #FFF !important;
 }

 .logoProadMobile {
   width: 50px;
   margin: 0 auto 0 calc(50% - 58px); 
   display: block; 
 }