p.bannerDescricao {
    margin: 0px;
    padding: auto;
    margin-bottom: 229px;
}

.bannerDcom {
    background-image:
        linear-gradient(to left, #00607d9c 0.49%, #00607D 100%),
        url('../../../assets/Banner/Banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    display: grid;
    height: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 80px;

}

@media (max-height: 750px) {
    p.bannerDescricao {
        margin-bottom: 10px ;
    }

    .bannerBase{
        margin-top: -55px ;
    }
    
    .bannerLadoEsquerdo h1{
        margin: 10px;
    }
}