.Footer {
  display: flex;
  height: 60px;
  margin: 0 auto;
  background-color: #00556f;
}

.Footer p {
  margin: auto;
  align-items: center;
  color: rgb(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
