.noticia-expandida-tag{
    font-size: small;
    color: #fff;
    background-color: #0387ae;
    padding: 5px 12px;
    border-radius: 0.5rem;
    margin: 10px 2px 0px 2px;
}

.noticia-expandida-tag-container{
    margin-bottom: 25px;
    margin-top: 20px;
}