body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ant-modal{
  width: 970px !important;
}

.ant-modal-title{
  font-size: 20px !important;
  margin-left: 10px !important;
  font-weight: 600 !important;
}

.ant-modal-body{
  margin-left: 25px !important;
}